/* MEMO

mg: #F9CC9D, rgb(249,204,157)
bd: #FDDD9B, rgb(253,221,155)
pd: #C2CF8A, rgb(194,207,138)
wh: #8BB5C0, rgb(139,181,192)

*/

* {
  padding: 0;
  margin: 0;
}

.box {
  margin: 30px 50px 20px 10px;
  /*margin-top: 0;*/
  border: 3px solid #333;
  border-bottom: 5px solid #555;
  padding: 20px;
  /*background-color: #aaa;*/
  display: inline-block;
}

.title {
  color: rgb(34, 191, 191);
  font-size: 20px;
}


/* ----------------- 要素の検証系 ------------------ */

#main {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#verification div div {
  display: none;
  position: absolute;
}

.margin div {
  background-color: rgba(241, 182, 122, 0.7);
}

.border div {
  background-color: rgba(253, 221, 155, 0.7);
}

.padding div {
  background-color: rgba(194, 207, 138, 0.7);
}

.widthHeight {
  display: none;
  position: absolute;
  background-color: rgba(139, 181, 192, 0.7);
}

/* -------------------- サイト ---------------------*/

header {
  width: 100%;
  height: 50px;
  display: inline-block;
  background-color: #F3F3F3;
  color: #5A5A5A;
  border-bottom: 1px solid #CCC;
}

.header-left {
  float: left;
  padding-left: 30px;
}

.btn {
  cursor: pointer;
  display: inline-block;
}

#verification-btn {
  margin-top: 12px;
  padding: 0px 6px 0px 8px;
  border: 1px solid #5A5A5A;

}
